* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.content-left{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    line-height: 3rem;
    padding-right: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.content-right {
    margin-top: 15px;
    max-width: 439px;
}
.header__subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: #000000;
}

.header__paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    margin: 20px 0;
}

main {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  padding: 20px;
  max-height: 1400px;
  max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 390px;
    margin-left: 20px;
    
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.container:nth-child(3n-1) {
    margin-top: 5rem;
}

.member-info {
    display: flex;
}
.member-info img {
    width: 75%;
    object-fit: contain;
}
.caption {
    writing-mode: vertical-rl;
 font-family: 'PT Serif', serif;
 font-style: normal;
 font-size: 18px;
 text-transform: uppercase;
 margin-left: 10px;
    
}

.name {
  

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px; 
}

.member-info:nth-child(odd) {
    margin-top: 0;
  }
  
  .member-info:nth-child(even) {
    margin-top: 3rem;
  }

  footer {
    font-family: 'Poppins', sans-serif;

      text-align: center;
      padding: 20px 0;
  }

  